[user]
	email = alemileev@gmail.com
	name = Alexey Mileev
[credential]
	helper = cache --timeout=3600
[alias]

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[core]
	pager = less
[init]
	defaultBranch = main
[rerere]
	enabled = true
[maintenance]
	repo = /Users/rozag/workspace/twain
	repo = /Users/rozag/workspace/upp
	repo = /Users/rozag/workspace/real-talk
	repo = /Users/rozag/workspace/cabasi
