[submodule "zsh-dracula-theme"]
	path = zsh-dracula-theme
	url = https://github.com/dracula/zsh.git
[submodule "alacritty-themes"]
	path = alacritty-themes
	url = git@github.com:alacritty/alacritty-theme.git
