" Read the original .vimrc
source ~/.vimrc

" Enable vim-surround support
set surround

" Enable relative line numbers
set relativenumber

" Enable fancy line join: https://github.com/JetBrains/ideavim/blob/master/doc/ideajoin-examples.md
set ideajoin

" Fancy clipboard
set clipboard+=ideaput
