" Read the original .vimrc
source ~/.vimrc

" Enable vim-surround support
set surround

" Disable relative line numbers
set norelativenumber

" Enable fancy line join: https://github.com/JetBrains/ideavim/blob/master/doc/ideajoin-examples.md
set ideajoin

" Fancy clipboard
set clipboard+=ideaput

" Disable NERDTree hotkey
noremap <C-n> <NOP>

